:root {
	--highlight: #ffb4b4;
}

.tenj-underline {
	width:auto;
	height:5px;
	position:relative;
	top:-7px;
	background-color: var(--highlight);
	z-index:-10;
}

/*
.tenj-word:hover {
	background-color: var(--highlight);
	filter:opacity(0.5);
}
*/

.tenj-word {
	display:inline-block;
	z-index:1;
	position:relative;
}
