#nodes {
	width:200px;
	max-height:327px;
	overflow-y: scroll;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 3px;
	margin-left:5px;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #444;
}

.form > * {
	margin: 5px 0;
}

body {
	width:200px;
}

input, textarea {
	font-family: "Segoe UI", Tahoma, sans-serif;
	width:97%;
	font-size:95%;
	resize: none;
}

label {
	font-size:100%;
}

.node {
	width:100%;
	border:1px solid black;
	border-radius:5px;
	background-color: #eee;
	padding:5px;
	display:inline-block;
	margin:5px 0;
	position:relative;
}

.node > * {
	display:inline-block;
	position: relative;
	margin:0;
	word-wrap: break-word;
}

.node-key {
	width:35%;
	float:left;
}

.node-val {
	width:63%;
	float:right;
}

.node-tools {
	display:none;
	right:5px;
	top:1px;
	z-index:10;
}

.node-tools, .node-tools-bck {
	position:absolute;
	user-select: none;
	padding: 3px;
}

.node-tools-bck {
	width:100%;
	height:18px;
	right:0px;
	top:3px;
	z-index:-1;
	background-color:white;
	opacity:0.85;
	border-radius:3px;
}

.node-tools > span+span {
	margin-left:7px;
}

.node-tools > span {
	user-select: none;
	cursor: pointer;
}
